{%  extends 'base.html' %}
{% load widget_tweaks %}
{%  load static %}

 {%  block navbar %}

                <a href="{%  url 'home' %}" class="nav-item nav-link ">Home</a>
                <a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'team' %}" class="nav-item nav-link">Our Team</a>
                <a href="{% url 'notice' %}" class="nav-item nav-link active">Notice</a>
                <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
 {% endblock %}


{%  block body %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Notice List</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Notice</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->


   <section id="basic-vertical-layouts">
    <div class="row">

        <div class="col-md-7 col-12">
            <div class="card">
                <div class="col-md-15 col-28">
                    <div class="card height-auto">
                        <div class="card-body">


                            <div class="notice-board-wrap">

                                <div class="notice-list">
                                    {% if result %}
                                            <h2> {{result}}</h2>
                                    {% endif %}
                                    {% for i in topics %}
                                    <div class="post-date bg-pink"><b>{{i.title}}</b></div>
                                    <h6 class="notice-title">{{i.description}} ... <a href="{%  url 'notice_detail' i.pk %}">Read More</a></h6>
                                    <div class="entry-meta"> {{i.publish_date}} /By:{{i.created_by}}</div>
                                    <br>
                                    {% endfor %}

                                </div>

                            </div>
                        {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{%  endblock %}